@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

* {
    font-family: "Amatic SC", cursive;
}

textarea, .form__date>input, .form__add{
    border: 1px solid grey;
    /* border-top: 2px solid grey;
    border-bottom: 2px solid grey; */
    border-radius: 5px;
    background: none;
    resize: none;
}

.title{
    text-align: center;
}

.form__add{
    background: none;
}

.form__add:hover{
    background: lightgrey;
}

.app{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    right: 20%;
}

.form{
    display: flex;
    flex-direction: column;
}

.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form__name, .form__desc, .form__date{
    display: flex;
}

.form__name, .form__desc{
    flex-direction: column;
}

.form__date{
    justify-content: space-between;
}

.form__date>input{
    text-align: right; 
}

/*lowest, portrait*/
@media screen and (max-width: 415px) and (orientation: portrait){
    .title{
        margin: 0;
        margin-top: 50px;
        text-transform: uppercase;
        font-size: 3em;
        padding: 0;
    }

    .app{
        left: 10%;
        right: 10%;
    }

    .label{
        font-size: 2em;
    }

    .form{
        height: 100%;
        padding: 10px;
    }

    .form__name>textarea{
        font-size: 1.3em;
        letter-spacing: 2px;
    }

    .form__desc>textarea{
        letter-spacing: 2px;
    }

    .form__date>input{
        min-width: 100px;
        font-size: 1.5em;
    }

    .form__add{
        display: block;
        height: 50px;
        font-size: 1.5em;
    }

    .form__add, .form__date, .form__name, .form__desc{
        margin: 10px 0 10px 0;
    }

    .task{
        display: flex;
        flex-direction: column;
    }

    .task>button{
        width: 200px;
        align-self: center;
        margin: 5px;
        font-size: 1.3em;
    }

    .task__title{
        font-size: 3em;
    }

    .task__desc, .task__date{
        font-size: 1.2em;
    }

    .task__title, .task__desc, .task__date{
        padding: 0;
        margin: 0;
    }
}


/*lowest, landscape*/
@media screen and (max-width: 767px) and (orientation: landscape){
    .title{ 
        font-size: 4em;
        margin: 0;
    }

    .label{
        font-size: 1.5em;
    }

    .form__add, .form__date, .form__name, .form__desc{
        margin: 10px 0 10px 0;
    }

    .form__add, .form__date>input{
        font-size: 1.5em;
    }

    .task{
        display: flex;
        flex-direction: column;
    }
    
    .task__title, .task__desc, .task__date{
        align-self: flex-end;
        padding: 0;
        margin: 0;
    }

    .task>button{
        width: 200px;
        align-self: center;
        margin: 5px;
        font-size: 1.3em;
    }
}
/*highest, landscape*/
@media screen and (min-width: 768px) and (orientation: landscape){
    .title{
        margin: 0;
        margin-top: 50px;
        font-size: 5em;
    }
    .label{
        font-size: 3em;
    }
    textarea{
        font-size: 2em;
    }
    .form__add{
        font-size: 3em;
    }
    .form__add, .form__date, .form__name, .form__desc{
        margin: 10px 0 10px 0;
    }
    .form__date>input{
        min-width: 200px;
        font-size: 2em;
    }
    .task{
        display: flex;
        flex-direction: column;
    }
    .task__title, .task__desc, .task__date{
        align-self: flex-end;
        padding: 0;
        margin: 0;
    }
    .task__title{
        font-size: 3em;
    }
    .task__desc, .task__date{
        font-size: 2em;
    }
    .task>button{
        width: 200px;
        align-self: center;
        margin: 5px;
        font-size: 2em;
    }
}
/*highest, portrait*/
@media screen and (min-width: 768px) and (orientation: portrait){
    .title{
        font-size: 5em;
    }
    .label{ 
        font-size: 3em;
    }
    textarea{
        font-size: 2em;
    }
    .form__add{
        font-size: 3em;
    }
    .form__add, .form__date, .form__name, .form__desc{
        margin: 10px 0 10px 0;
    }
    .task{
        display: flex;
        flex-direction: column;
    }
    .task__title, .task__desc, .task__date{
        align-self: flex-end;
        padding: 0;
        margin: 0;
    }
    .task__title{
        font-size: 3em;
    }
    .task__desc, .task__date{
        font-size: 2em;
    }
    .task>button{
        width: 200px;
        align-self: center;
        margin: 5px;
        font-size: 2em;
    }
}